<ion-item style="margin-top: 16px">
  <ion-label><h1 style="margin: 0;">{{ model.name }}</h1></ion-label>
  <ion-toggle [(ngModel)]="state" [checked]="model.state === 'on'" (ionChange)="onStateChanges()"></ion-toggle>
</ion-item>

<div margin style="text-align: center">
  <img
    style="max-width: 40%"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV26qFf1SOGMxTye62RPp9NdPdafENmGMS5GE-6KIPwq88DNRW"
    alt=""
  >
</div>

<div class="numeric-buttons">
  <button (click)="dec($event)" [disabled]="model.temperature === 16"><</button>
  <span class="value">{{ model.temperature }}</span>
  <button (click)="inc($event)" [disabled]="model.temperature === 30">></button>
</div>

<ion-list [(ngModel)]="model.mode" radio-group>
  <ion-list-header>
    {{ 'device.air_conditioner.mode' | i18n }}
  </ion-list-header>

  <div>
    <ion-item>
      <ion-label>{{ 'device.air_conditioner.cool' | i18n }}</ion-label>
      <ion-radio [checked]="model.mode === 'cool'" value="cool"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.heat' | i18n }}</ion-label>
      <ion-radio [checked]="model.mode === 'heat'" value="heat"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.dry' | i18n }}</ion-label>
      <ion-radio [checked]="model.mode === 'dry'" value="dry"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.auto' | i18n }}</ion-label>
      <ion-radio [checked]="model.mode === 'auto'" value="auto"></ion-radio>
    </ion-item>
  </div>
</ion-list>

<ion-list [(ngModel)]="model.fanSpeed" radio-group>
  <ion-list-header>
    {{ 'device.air_conditioner.fan_speed' | i18n }}
  </ion-list-header>

  <div>
    <ion-item>
      <ion-label>{{ 'device.air_conditioner.lowest' | i18n }}</ion-label>
      <ion-radio [checked]="model.fanSpeed === 'lowest'" value="lowest"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.low' | i18n }}</ion-label>
      <ion-radio [checked]="model.fanSpeed === 'low'" value="low"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.medium' | i18n }}</ion-label>
      <ion-radio [checked]="model.fanSpeed === 'medium'" value="medium"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.high' | i18n }}</ion-label>
      <ion-radio [checked]="model.fanSpeed === 'high'" value="high"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.highest' | i18n }}</ion-label>
      <ion-radio [checked]="model.fanSpeed === 'highest'" value="highest"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.auto' | i18n }}</ion-label>
      <ion-radio [checked]="model.fanSpeed === 'auto'" value="auto"></ion-radio>
    </ion-item>
  </div>
</ion-list>

<ion-list [(ngModel)]="model.swing" radio-group>
  <ion-list-header>
    {{ 'device.air_conditioner.swing' | i18n }}
  </ion-list-header>

  <div>
    <ion-item>
      <ion-label>{{ 'device.air_conditioner.lowest' | i18n }}</ion-label>
      <ion-radio [checked]="model.swing === 'lowest'" value="lowest"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.low' | i18n }}</ion-label>
      <ion-radio [checked]="model.swing === 'low'" value="low"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.medium' | i18n }}</ion-label>
      <ion-radio [checked]="model.swing === 'medium'" value="medium"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.high' | i18n }}</ion-label>
      <ion-radio [checked]="model.swing === 'high'" value="high"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.highest' | i18n }}</ion-label>
      <ion-radio [checked]="model.swing === 'highest'" value="highest"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'device.air_conditioner.auto' | i18n }}</ion-label>
      <ion-radio [checked]="model.swing === 'auto'" value="auto"></ion-radio>
    </ion-item>
  </div>
</ion-list>

<button ion-button (click)="send($event)">{{ 'device.air_conditioner.send' | i18n }}</button>

<!-- <ion-item>
  <ion-range [(ngModel)]="brightness">
    <ion-icon range-left small name="sunny"></ion-icon>
    <ion-icon range-right name="sunny"></ion-icon>
  </ion-range>
</ion-item> -->

