.reset-this {
  @include reset();
}

a {
  text-decoration: none;
}

.background-primary {
  background-image: linear-gradient(
    to right,
    color($colors, secondary, base),
    color($colors, primary, base)
  ) !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: color($colors, primary, contrast) !important;
  }
}

// TODO: spostare nel file corretto
ion-segment {
  ion-segment-button {
    ionic-card-icon-default {
      ion-card {
        ion-card-content {
          padding: 0 !important;
        }
      }
    }
  }
}
