$colors: (
  primary:    (base: #543996, contrast: #ffffff),
  secondary:  (base: #88439e, contrast: #ffffff),
  danger:     #d91e18,
  light:      (base: #f4f4f4, contrast: #000000),
  dark:       (base: #222222, contrast: #ffffff),
  alert:      #F39C12,
);

$font-family-base: "Helvetica Neue", sans-serif;

$toolbar-height: 10rem;
$toolbar-title-font-size: 3rem;
$toolbar-button-font-size: 2rem;

$tabs-background: #fff;
$tabs-tab-color-active: color($colors, primary, base);
$tabs-tab-color-inactive: #a1a1a1;

$card-box-shadow-color: rgba(0,0,0,.1);
$card-box-shadow: 0px 0px 20px 0px $card-box-shadow-color;
$card-background-color: transparent;
$card-margin-bottom: 0;
$card-margin-end: 0;
$card-margin-left: 0;
$card-margin-right: 0;
$card-margin-start: 0;
$card-margin-top: 0;
$card-border-radius: 5px;
$item-padding-left: 0;

/* TODO: trovare un modo per effettuare queste assegnazioni in automatico */

$font-family-wp-base: $font-family-base;
$toolbar-wp-height: $toolbar-height;
$toolbar-wp-title-font-size: $toolbar-title-font-size;
$toolbar-wp-button-font-size: $toolbar-button-font-size;
$tabs-wp-tab-color-active: $tabs-tab-color-active;
$tabs-wp-tab-color-inactive: $tabs-tab-color-inactive;
$card-wp-box-shadow-color: $card-box-shadow-color;
$card-wp-box-shadow: $card-box-shadow;
$card-wp-background-color: $card-background-color;
$card-wp-margin-bottom: $card-margin-bottom;
$card-wp-margin-end: $card-margin-end;
$card-wp-margin-left: $card-margin-left;
$card-wp-margin-right: $card-margin-right;
$card-wp-margin-start: $card-margin-start;
$card-wp-margin-top: $card-margin-top;
$card-wp-border-radius: $card-border-radius;
$item-wp-padding-left: $item-padding-left;

$font-family-md-base: $font-family-base;
$toolbar-md-height: $toolbar-height;
$toolbar-md-title-font-size: $toolbar-title-font-size;
$toolbar-md-button-font-size: $toolbar-button-font-size;
$tabs-md-tab-color-active: $tabs-tab-color-active;
$tabs-md-tab-color-inactive: $tabs-tab-color-inactive;
$card-md-box-shadow-color: $card-box-shadow-color;
$card-md-box-shadow: $card-box-shadow;
$card-md-background-color: $card-background-color;
$card-md-margin-bottom: $card-margin-bottom;
$card-md-margin-end: $card-margin-end;
$card-md-margin-left: $card-margin-left;
$card-md-margin-right: $card-margin-right;
$card-md-margin-start: $card-margin-start;
$card-md-margin-top: $card-margin-top;
$card-md-border-radius: $card-border-radius;
$item-md-padding-left: $item-padding-left;

$font-family-ios-base: $font-family-base;
$toolbar-ios-height: $toolbar-height;
$toolbar-ios-title-font-size: $toolbar-title-font-size;
$toolbar-ios-button-font-size: $toolbar-button-font-size;
$tabs-ios-tab-color-active: $tabs-tab-color-active;
$tabs-ios-tab-color-inactive: $tabs-tab-color-inactive;
$card-ios-box-shadow-color: $card-box-shadow-color;
$card-ios-box-shadow: $card-box-shadow;
$card-ios-background-color: $card-background-color;
$card-ios-margin-bottom: $card-margin-bottom;
$card-ios-margin-end: $card-margin-end;
$card-ios-margin-left: $card-margin-left;
$card-ios-margin-right: $card-margin-right;
$card-ios-margin-start: $card-margin-start;
$card-ios-margin-top: $card-margin-top;
$card-ios-border-radius: $card-border-radius;
$item-ios-padding-left: $item-padding-left;

ion-header {
  & + ion-content[padding] {
    .fixed-content,
    .scroll-content {
      top: -$content-padding;
    }
  }
  &::after {
    display: none !important;
  }
  ion-navbar {
    .toolbar-background {
      background-color: #fff !important
    }
    ion-icon {
      color: #a1a1a1;
    }
  }
}

ion-tabs {
  &[tabsLayout=title-hide] {
    .tab-button[aria-selected=true] {
      .tab-button-text {
        display: block !important;
      }
    }
  }
  .tabbar {
    &::before {
      display: none;
    }
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
  }
}

ion-grid.grid {
  padding: 0;
  .row {
    margin-left: -8px;
    margin-right: -8px;
    .col {
      padding: 8px !important;
    }
  }
}

ion-item {
  .item-inner {
    border-bottom: none !important;
  }
}

// TODO: fare override delle variabili dove possibile
ion-segment {
  ion-segment-button {
    ionic-card-icon-default {
      ion-card {
        height: 100%;
        ion-card-content {
          padding: 0 !important;
          .title {
            font-weight: normal;
          }
        }
      }
    }
  }
}

// TODO: fare override delle variabili dove possibile
ion-list[radio-group] {
  margin: 24px 0 !important;
  display: flex !important;
  align-items: baseline !important;
  // border-top: 1px solid #dedede !important;
  padding: 5px 0 !important;
  ion-list-header {
    width: 25vw;
    margin-bottom: 0 !important;
    border-top: none !important;
    ion-label {
      color: #222;
      margin: 0 !important;
      font-weight: bold;
    }
  }

  div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    // overflow: scroll;
    // flex-wrap: nowrap;

    ion-item {
      // flex: 0 0 auto;
      text-align: center !important;
      width: auto !important;
      .item-inner {
        padding-right: 0 !important;
        border-bottom: none !important;
        ion-label {
          @include reset();
          color: #ccc !important;
          margin: 0 !important;
          transition: ease all .2s !important;
          margin: auto !important;
          padding: 5px 15px !important;
        }
      }
      &.item-radio-checked {
        ion-label {
          @include reset();
          @include background-primary();
          margin: auto !important;
          padding: 5px 15px !important;
          border-radius: 25px !important;
          color: color($colors, primary, contrast) !important;
        }
      }
    }
    ion-radio {
      margin: 0 !important;
      .radio-icon {
        display: none;
      }
      .button-effect {
        display: none;
      }
    }
  }
}

// TODO: fare override delle variabili dove possibile
ion-toggle {
  @include reset();
  width: 70px !important;
  padding: 10px 0px !important;
  .toggle-icon {
    padding: 5px 20px !important;
    display: block !important;
    border-radius: 25px !important;
  }
  &.toggle-checked {
    @include reset();
    width: 70px !important;
    .toggle-icon {
      @include background-primary();
      &::after {
        content: 'ON';
        display: block;
        text-align: center;
        color: white;
      }
    }
  }
  .toggle-icon {
    height: auto;
    &::after {
      content: 'OFF';
      display: block;
      text-align: center;
      color: black;
    }
    .toggle-inner {
      display: none;
    }
  }
}
