<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'navigation.home' | i18n }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <img style="width: 60%; margin: auto" [src]="'http://placehold.it/100'">
              </ion-col>
              <ion-col style="align-self: center;">
                <h3>tutti i dispositivi</h3>
                <p>{{devicesCount}} dispositivi</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngFor="let room of rooms">
        <a
          href="#"
          (click)="gotoRoom($event, room)"
        >
          <ionic-card-icon-default
            [image]="getRoomImage(room.name)"
            [title]="room.label"
            [subtitle]="room.devices.length + ' dispositivi'"
          ></ionic-card-icon-default>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
