<ion-header [scrollArea]="ioncontent">
  <ion-navbar>
    <ion-title>
      {{ 'navigation.home' | i18n }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ionic-card-icon-default
          classes="background-primary"
          image="assets/img/home.png"
          title="{{ 'home.all-devices' | i18n }}"
          subtitle="{{ devicesCount }} {{ (devicesCount === 1 ? 'home.device' : 'home.devices') | i18n }}"
          imagePosition="left"
        ></ionic-card-icon-default>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngFor="let room of rooms">
        <a
          href="#"
          (click)="gotoRoom($event, room)"
        >
          <ionic-card-icon-default
            image="{{ room.name | image | async }}"
            title="{{ 'room.' + room.name | i18n }}"
            subtitle="{{ room.devices.length }} {{ (room.devices.length === 1 ? 'home.device' : 'home.devices') | i18n }}"
          ></ionic-card-icon-default>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
