<ion-header [scrollArea]="ioncontent">
  <ion-navbar>
    <ion-title>
      {{ 'navigation.home' | i18n }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center col-4 offset-4>
    <img style="width: 100%; height: auto" src="{{ room.name | image | async }}">
  </div>
  <h1 text-center>{{ 'room.' + room.name | i18n }}</h1>

  <ion-segment [(ngModel)]="selected" class="reset-this" style="overflow: scroll !important; display: flex !important; flex-wrap: nowrap !important; justify-content: unset !important;">
    <ion-segment-button class="reset-this" [value]="device.id" *ngFor="let device of room.devices" style="width: 30vw !important; margin-right: 10px !important;">
      <ionic-card-icon-default
        classes="background-primary"
        image="{{ device.type | image | async }}"
        [title]="device.name"
      ></ionic-card-icon-default>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selected">
    <ng-container *ngFor="let device of room.devices">
      <ng-container *ngSwitchCase="device.id">
        <ionic-device-default
          [model]='device'
          (onSent)='send($event)'
        ></ionic-device-default>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
