ionic-card-icon-default {
  ion-card {
    width: 100%;
    background: none;
    img {
      width: 40%;
      margin: auto;
    }
    &.image-left {
      ion-card-content {
        ion-row {
          ion-col:last-child {
            align-self: center;
            border-left: 1px solid rgba(255, 255, 255, .2);
          }
        }
      }
    }
    .title {
      font-weight: bold;
      text-align: center;
    }
    .subtitle {
      font-size: 80%;
      opacity: .6;
      text-align: center;
    }
  }
}
